<section class="container my-5">
  <h2 class="big-font">Portfolio</h2>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="bg-dark text-white text-center p-5">
        <span>WEB DESIGN</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-primary text-white text-center p-5">
        <span>MOBILE DESIGN</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-dark text-white text-center p-5">
        <span>LOGO DESIGN</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-primary text-white text-center p-5">
        <span>WEB APPLICATION DEVELOPMENT</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-dark text-white text-center p-5">
        <span>MOBILE APPLICATION DEVELOPMENT</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-primary text-white text-center p-5">
        <span>PWA DEVELOPMENT</span>
      </div>
    </div>
  </div>
</section>
