<section class="container my-5">
  <h2 class="big-font">Portfolio</h2>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="bg-dark text-white text-center p-5 text-uppercase">
        <span> {{ fields[0] }} </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-primary text-white text-center p-5 text-uppercase">
        <span> {{ fields[1] }} </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-dark text-white text-center p-5 text-uppercase">
        <span> {{ fields[2] }} </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-primary text-white text-center p-5 text-uppercase">
        <span> {{ fields[3] }} </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-dark text-white text-center p-5 text-uppercase">
        <span> {{ fields[4] }} </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-primary text-white text-center p-5 text-uppercase">
        <span> {{ fields[5] }} </span>
      </div>
    </div>
  </div>
</section>
