<section class="container my-5">
  <div class="row justify-content-center g-2">
    <div class="col-lg-4">
      <h2 class="big-font">
        About Me
      </h2>
    </div>
    <div class="col-lg-8">
      <p>
        I am a passionate developer with experience in front-end development and
        angular
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tempora
        mollitia velit praesentium, autem consectetur ut corporis minus eos nihil
        harum beatae et omnis officiis necessitatibus asperiores debitis nobis nisi.
      </p>
      <button class="btn btn-outline-primary"
        onclick="window.location.href='https://drive.google.com/file/d/1ETzTEaxaMo2LUcWKMVk_9VA7z7ZVpaWQ/view?usp=drive_link'">
        Download Resume
      </button>
    </div>
  </div>



</section>