<footer class="bg-dark text-white text-center py-3">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <p>Get in Touch</p>
      <p>Email: abdelwahab.gmail.com</p>
      </div>

      <div class="col-4 d-flex justify-content-center align-items-center">
        <button class="btn btn-outline-primary">Contact Me</button>
      </div>

      <div class="col-4 d-flex justify-content-center align-items-center">
        <a href="#" class="fa fa-facebook mx-2 text-white text-decoration-none"></a>
        <a href="#" class="fa fa-github mx-2 text-white text-decoration-none"></a>
        <a href="#" class="fa fa-linkedin mx-2 text-white text-decoration-none"></a>
        
      </div>
    </div>
  </div>

</footer>